.Row {
    display: grid;

    grid-template-columns: auto 1fr auto;


    img {
        pointer-events: none;
    }

    width: 100%;
    height: 100%;
}




.sensor {

    width: 20px;
    height: 20px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;



    &-top {
        background: rgb(51, 193, 22);

    }

    &-bottom {
        background: rgb(22, 193, 119);

    }

    &-left {
        background: rgb(193, 22, 153);

    }

    &-right {
        background: rgb(56, 22, 193);

    }



}

.lado {

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;


}

.superior {

    background-color: rgb(0, 81, 255);

    flex-direction: column;


}

.inferior {

    background-color: rgb(100, 51, 142);

    flex-direction: column-reverse;


}


.izquierdo {

    background-color: rgb(0, 169, 253);

    flex-direction: row;
}

.derecho {



    background-color: rgb(253, 198, 0);

    flex-direction: row-reverse;
}

.centro {
    outline: 5px solid rgb(34, 255, 0);
}

.imageprueba {
    width: 20vw;
    height: 50vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}