.Project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.pp-header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem 5rem;
    border-radius: 1rem;

    .ph-message {
        display: flex;
        align-items: center;
        border: 2px solid $text-principal;
        border-radius: 2rem;
        padding: 0.5rem;
        color: $text-secondary;
        gap: 0.5rem;

        &:hover {
            background-color: $text-principal;
            color: $principal
        }
    }


    .ph-tittle {

        text-align: center;
        width: 70%;
        font-size: 3rem;
        font-weight: bold;
    }

    .ph-subtittle {
        color: $text-secondary;

    }


    .ph-action-buttons {
        display: flex;
        gap: 1rem;

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            color: $text-principal;
            border: 2px solid $text-principal;
            padding: 1rem;
            border-radius: 0.5rem;

            gap: 0.5rem;

            &:hover {
                background-color: $text-principal;
                color: $principal
            }


        }


    }
}


.pp-section {
    display: flex;

    gap: 1rem;
    padding: 1rem 0;

    .ppc-cover {
        flex: 2;
        aspect-ratio: 16/9;
        border-radius: 1rem;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    }


}




@media (max-width: 768px) {
    .pp-header {
        padding: 1rem;

        .ph-tittle {

            text-align: center;
            width: 100%;
            font-size: 2rem;
            font-weight: bold;
        }

    }

    .pp-section {
        display: grid;
    }



}