.Research {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;


}



.r-articles {

    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;







}