@media (max-width: 768px) {


    html,
    body {
        overflow-x: hidden;
        background-color: $secondary;
        ;
    }

    .animate {
        animation: abrir 1s ease-out forwards;
    }

    .reverse {
        animation: cerrar 1s;
    }

    .Header {
        display: none;
    }

    .mob {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
        height: 100vh;
        top: 0;

        z-index: 50;
        background-color: $principal;


        a {
            transition: all 0.3s;
        }

        a:hover {
            font-size: 1.2rem;
            color: $secondary;
            ;

        }




    }

    .invisible {
        opacity: 0;
    }


    .btn {
        display: inline;
        background-color: transparent;
        border: none;
        color: $text-principal;
        //Develop outline






        &-close {
            display: inline;
        }
    }

    @keyframes open1 {
        0% {
            transform: rotate(0deg) translateX(0);

        }

        100% {
            transform: rotate(45deg) translateX(8px);
            transform-origin: 50% 50%;
        }

    }

    @keyframes open2 {
        0% {
            transform: rotate(0deg) translateX(0);

        }

        100% {
            transform: rotate(-45deg) translateX(8px);
            transform-origin: 50% 100%;
        }

    }

    .mobile-nav {

        display: flex;
        align-items: center;
        justify-content: space-between;


        p {
            color: $text-principal;
            position: relative;

        }

        .logo {
            padding-left: 1rem;
        }





        .menu-btn {
            //Develop outline
            outline: 2px solid rgb(0, 255, 0);
            position: absolute;
            right: 0;
            width: 6.25rem;
            height: 3.125rem;

            opacity: 0;
            z-index: 99;



            &:checked+.bars {


                #barra1 {
                    transform: rotate(45deg) translateX(8px);
                    transform-origin: 50% 50%;
                }

                #barra2 {
                    transform: rotate(-45deg) translateX(8px);
                    transform-origin: 50% 100%;
                }
            }
        }


        .bars {
            display: flex;
            color: $text-principal;



        }

        .barras {

            margin-left: 1rem;
            gap: 0.3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 60;
        }

        .barra {
            width: 40px;
            height: 3px;

            background-color: $text-principal;




        }

        .barra-1 {
            animation: open1 0.5s ease-in forwards reverse;
        }

        .barra-2 {
            animation: open2 0.5s ease-in forwards reverse;
        }






    }

    .mobile-nav-2 {
        right: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: end;

        padding: 1rem;

        p {
            color: $text-principal;
            position: relative;

        }

        .logo {
            padding-left: 1rem;
        }




        .menu-btn {

            right: 0;
            width: 50;
            height: 38px;

            opacity: 0;
            z-index: 99;




        }


        .bars {
            position: absolute;
            display: flex;
            color: $text-principal;



        }

        .barras {

            margin-left: 1rem;
            gap: 0.3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 60;
        }

        .barra {
            width: 40;
            height: 3px;

            background-color: $text-principal;


            transition: all .5s;

        }

        .barra-1 {
            animation: open1 0.5s ease-out forwards;
        }

        .barra-2 {
            animation: open2 0.5s ease-out forwards;
        }







    }






}