nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
    position: relative;
}



.Header {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;

    list-style: none;

    div {
        display: flex;


        width: 30%;
    }

    li {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {


        color: white;
        text-decoration: none;
        transition: all 500ms;
        border-bottom: 0px solid white;
        padding: 15px 20px;
        position: relative;



    }



    .logo {
        padding: 0;
        height: 10vh;
        margin: 0.5rem 0;


        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }





}




@keyframes expandFromCenter {
    0% {
        width: 0;
        left: 50%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.active {

    position: relative; // Asegúrate de que el contenedor tenga position relative

    &:after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #fff;
        width: 0;
        animation: expandFromCenter 0.5s forwards;
    }
}

.btn {
    display: none;

    &-close {
        display: none;
    }
}

.btn-close {
    align-self: flex-end;
    margin-right: 1rem;
}


.animate {
    animation: none;
}

.reverse {
    animation: none;
}




.mobile-nav {
    display: none;
}