nav {
    border-top: 0.0625rem solid $text-principal;
    border-bottom: 0.0625rem solid $text-principal;
    background-color: $principal;
    position: relative;
}



.Header {

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 0.8rem;
    background-color: black;
    list-style: none;



    div {
        display: flex;


        width: 30%;
    }

    li {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {


        color: $text-principal;
        text-decoration: none;
        transition: all 500ms;
        border-bottom: none;
        padding: 0.9375rem 1.25rem;
        position: relative;



    }



    .logo {
        padding: 0;
        height: 10vh;
        margin: 0.5rem 0;
        min-height: 10vh;

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }





}




@keyframes expandFromCenter {
    0% {
        width: 0;
        left: 50%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.active {

    position: relative; // Asegúrate de que el contenedor tenga position relative

    &:after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: $text-principal;
        width: 0;
        animation: expandFromCenter 0.5s forwards;
    }
}

.btn {
    display: none;

    &-close {
        display: none;
    }
}

.btn-close {
    align-self: flex-end;
    margin-right: 1rem;
}


.animate {
    animation: none;
}

.reverse {
    animation: none;
}




.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .active {

        position: relative; // Asegúrate de que el contenedor tenga position relative

        &:after {
            content: "";
            display: none;

        }
    }
}