.mouse-controller {
    position: relative;
    width: 100vw;
    height: 100vh;

    cursor: grab;
}

.start-position,
.current-position {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(234, 255, 0);
    pointer-events: none;
}

.current-position {
    background-color: rgb(255, 0, 157);
}


.mouse-controller {}

.canvas {
    border: 1px solid #000;
    width: 100vw;
    /* Ancho del canvas igual al ancho del viewport */
    height: 100vh;
    /* Alto del canvas igual al alto del viewport */
    display: block;
    z-index: 9999;

}