.Projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.p-header {
    font-family: abjad;
    font-size: 10rem;
    border-bottom: 0.125rem solid $text-principal;

    display: flex;
    justify-content: space-between;

    span {
        font-size: 1rem;
        font-family: Helvetica-Neue;
    }
}

.p-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
    justify-items: center;
}