.Footer {
    background-color: $principal;
    color: $text-principal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-top: 0.125rem solid $text-principal;
    padding: 2rem;

    a {
        text-decoration: none;
        color: $text-principal;

        &:hover {
            text-decoration: underline;
        }
    }


}


.footer-content {

    display: grid;
    grid-template-columns: 1.1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: space-between;



}

.footer__logo {

    display: flex;

    img {

        height: 15vh;

    }
}

.footer__links {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.footer-bottom {
    opacity: 0.5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


@media (max-width: 390px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 2rem;

        justify-items: center;

    }



    .footer__links {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        column-gap: 2rem;
        width: 100%;
        justify-items: center;
    }


    .footer-bottom {

        gap: 1rem;
        flex-direction: column;
    }
}