@media (max-width: 768px) {

    .Banner {
        gap: 1rem;
    }

    .b-image {
        height: 15vh;
        border-radius: 1rem;

        .i-content {

            gap: 2rem;

            p {
                font-size: 0.7rem;



                width: 100%;
            }

            button {
                height: 3rem;
            }



            .c-logo {

                height: 7rem;
            }
        }
























    }


    .b-buttons {


        span {
            font-family: Abjad;
            font-size: 4rem;
        }

        button {
            margin-top: 0;
            font-size: 1.5rem;
        }
    }




    .b-events {
        flex-direction: column;
        height: 100%;
        gap: 0;



        .e-event {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 100%;
            align-items: start;
            justify-items: center;
            min-height: 30vh;



            .ee-1 {
                width: 100%;
                height: 100%;


                button {
                    height: 3rem;
                }
            }

            .ee-2 {
                width: 100%;
                height: 100%;

                padding-bottom: 1rem;
            }
        }


    }















}