* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('/fonts/HelveticaNeue/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'Abjad';
  src: url('/fonts/abjad-font/Abjad.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: bold;
  src: url('/fonts/HelveticaNeue/HelveticaNeueBold.otf') format('opentype');
}

body {
  font-family: Helvetica-Neue;
  color: $text-principal;


}












.placeholder {
  background-color: $principal;
  height: 150vh;
  color: $text-principal;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}


.Not {
  background-color: $principal;
  color: $text-principal;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  text-decoration: underline;

}

$font-size-base: 16px; // Tamaño de fuente base
$font-size-large: 22px; // Tamaño de fuente para pantallas anchas



@media (min-width: 1800px) {
  :root {
    font-size: $font-size-large; // Establecer el tamaño de fuente grande para pantallas anchas
  }
}