* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('/fonts/HelveticaNeue/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'Abjad';
  src: url('/fonts/abjad-font/Abjad.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica-Neue';
  font-weight: bold;
  src: url('/fonts/HelveticaNeue/HelveticaNeueBold.otf') format('opentype');
}

body {
  font-family: Helvetica-Neue;
  color: $text-principal;


}












.placeholder {
  background-color: $principal;
  height: 150vh;
  color: $text-principal;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}


.Not {
  background-color: $principal;
  color: $text-principal;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  text-decoration: underline;

}

$font-size-min: 12px; // Tama単o de fuente base
$font-size-base: 16px; // Tama単o de fuente base
$font-size-large: 22px; // Tama単o de fuente para pantallas anchas



@media (min-width: 1800px) {
  :root {
    font-size: $font-size-large; // Establecer el tama単o de fuente grande para pantallas anchas
  }
}


@media (max-width: 1200px) {
  .hero-video {



    width: 100%;

  }
}