body {
  overflow: hidden;
  background: #1d1d1d;

}

.App {
  outline: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.object {
  position: relative;

  width: fit-content;
  height: fit-content;

  transition: all 0.4s ease-out;


  &:hover {
    outline: 5px solid yellow;
  }

}

.meta {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.149);
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  color: yellow;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}