body {
  overflow: hidden;
  background: #1d1d1d;

}

.App {
  outline: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.object {
  position: relative;

  width: fit-content;
  height: fit-content;

  transition: all 500ms ease-out;


  &:hover {
    outline: 5px solid yellow;
  }

}

.meta {
  position: absolute;
  font-size: 1rem;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.149);
  display: flex;
  font-weight: bold;
  flex-direction: column;
  width: 100%;
  color: rgb(0, 73, 208);
  text-shadow: 2px 2px 1px rgb(255, 255, 255);

  div {
    font-size: 0.8rem;
  }
}

.Example {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
  justify-items: center;
  outline: 2px solid #a601ff;
}

.image-ex {
  outline: 2px solid rgb(255, 0, 0);
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}